.pontos {
  font-family: "trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.2pt;
  word-spacing: 5.4pt;
  height:46px;
  display: flex;
align-items: baseline;
  background-color: #000000;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 15px 15px;
  margin: 10px 2px;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingIcon img {
  animation: spin 1s linear infinite;
  width: 24px;
  height: 24px;
}
