.pontos {
  font-size: small;
  padding: 0 30 0 10;
  margin-left: 30;
  margin-block-start: 10px;
  text-align: right;
  color: brown;
  display: flex;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingIcon img {
  animation: spin 1s linear infinite;
  width: 24px;
  height: 24px;
}
